<table class="table">
  <thead class="table-dark">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody id="<%= dom_id friend %>">
    <tr>
    <td> <%= friend.first_name %> </td>
    <td> <%= friend.last_name %> </td>
    <td> <%= friend.email %> </td>
    <td> <%= friend.phone %> </td>
    <td> <%= friend.phone %> </td>
    <td> <%= friend.twitter %> </td>
    </tr>
  </tbody>
</table>





