<% if user_signed_in? %>

  <table class="table">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
      <th>User id</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody id="<%= dom_id friend %>">
    <% if friend.user == current_user%>
      <tr>
    <td>
    <%= link_to friend.first_name + ' ' + friend.last_name, friend %>
     </td>
    <td> <%= friend.email %> </td>
    <td> <%= friend.phone %> </td>
    <td> <%= friend.phone %> </td>
    <td> <%= friend.twitter %> </td>
    <td> <%= friend.user_id %> </td>
    </tr>
    <% end %>
  </tbody>
</table>

<% else %>

  <div class="jumbotron">
  <h1>Home#index</h1>
  <p>Find me in app/views/home/index.html.erb</p>
</div>
<% end %>




