<p style="color: green"><%= notice %></p>

<%= render @friend %>

<div>
  <%= link_to "Edit this friend", edit_friend_path(@friend), class: "btn btn-primary" %> |
  <%= link_to "Back to friends", friends_path, class: "btn btn-secondary" %>

  <%= button_to "Destroy this friend", @friend, method: :delete %>
</div>
